data/CUB/images
data/CUB/images.tgz
data/CIFAR/cifar-100-python
data/CIFAR/cifar-100-python.tar.gz
data/miniImageNet/mini_imagenet
.DS_Store
tarek-mt
.vscode/
.venv
.pyenv
__pycache__/
models
nohup.out
ROCS
notebook.py